<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" 
    xmlns:gap = "http://phonegap.com/ns/1.0" 
    id        = "com.setting.incidenciasComunicator" 
    version   = "1.0.0">
<name>Incident communicator</name>
<description>Comunicador d'incidències a la via pública</description>
<author href="https://www.SettingConsultoria.com" email="carlosloga@gmail.com">CLG</author>
<preference name="phonegap-version" value="2.3.0" />
<plugin name="Notification" value="CDVNotification" />
<feature name="http://plugins.phonegap.com/ChildBrowser/3.0.4" /> 
<access origin="*" />
<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
</widget>
